<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Landing Page</title>
    <!-- Bootstrap, jQuery, and Plotly dependencies  -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

<!--Header-->
<section class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to the Mobile Phone Usage Data Dashboard!</h1>
        <p class="lead">A simple, elegant solution for all your app marketing and development needs!</p>
        <a href="{{url_for('api_docs')}}" class="btn btn-light btn-lg">View API Documentation</a>
    </div>
</section>

<!-- Graph Section -->
<section id="features" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="p-4 border rounded">
                    <h3>Data Visulization</h3>
                    <p>Select a value in the dropdown below to view the associated chart!</p>
                    <select id='graphSelection' class='w-100 text-center'>
                        <option value='battery'>Battery Drain MaH per Age Group</option>
                        <option value='operatingSystem'>Operating System Count per Age Group</option>
                        <option value='dataUsage'>Data Usage (mb) per Age Group</option>
                        <option value='phoneType'>Phone Type Count per Age Group</option>
                        <option value='screenTime'>Average Screentime (hr/day) per Age group</option>
                    </select>
                    <div id="chart" class="w-100 text-center" style="height: 500px;"></div>
                    <script>
                        var batteryDrainGraphData = {{ battery_drain_graph_json | safe}}
                        var operatingSystemGraphData = {{ os_type_graph_json | safe}}
                        var dataUsageGraphData = {{data_usage_graph_json | safe}}
                        var phoneTypeGraphData = {{phone_type_graph_json | safe}}
                        var screenTimeGraphData = {{screen_time_graph_json | safe}}
                        function renderChart(chartType){
                            if (chartType == 'battery'){
                                Plotly.newPlot('chart', batteryDrainGraphData.data, batteryDrainGraphData.layout)
                            } else if (chartType == 'operatingSystem'){
                                Plotly.newPlot('chart', operatingSystemGraphData.data, operatingSystemGraphData.layout)
                            } else if (chartType == 'dataUsage'){
                                Plotly.newPlot('chart', dataUsageGraphData.data, dataUsageGraphData.layout)
                            } else if (chartType == 'phoneType'){
                                Plotly.newPlot('chart', phoneTypeGraphData.data, phoneTypeGraphData.layout)
                            } else if (chartType == 'screenTime'){
                                Plotly.newPlot('chart', screenTimeGraphData.data, screenTimeGraphData.layout)
                            }
                        }
                        
                        //load default chart
                        renderChart('battery')

                        document.getElementById('graphSelection').addEventListener('change', function(){
                            var selectedGraph = this.value
                            renderChart(selectedGraph)
                        })
                        
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
